DOMAIN=example.com
ACME_EMAIL=admin@example.com
BETTER_AUTH_URL=https://example.com
BETTER_AUTH_SECRET=secret
DATABASE_URL=postgresql://
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=secret
ADMIN_EMAILS=admin@example.com
UPLOADS_DIR=/var/www/shared/uploads
